@import 'utils';

$sans-serif: "Source Sans Pro", Roboto, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

$light: 200;
$normal: 300;
$semibold: 400;
$bold: 500;

body {
  margin: 0;
  background: linear-gradient(#ee5450 10%, #c72c41 20%, #801336 26%, #510A32 37%, #2D142C);
  box-sizing: border-box;
  font-family: $sans-serif;
  font-weight: $light;
  color: black;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: inherit;
}
