@import 'utils';

$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

$light: 200;
$normal: 300;
$semibold: 400;
$bold: 500;

body {
  margin: 0;
  background: #4d0013;
  box-sizing: border-box;
  font-family: $sans-serif;
  font-weight: $light;
  color: whitesmoke;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: inherit;
}
