@import 'utils';

$sans-serif: "Source Sans Pro", Roboto, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;



$light: 200;
$normal: 300;
$semibold: 400;
$bold: 500;

body {
  margin: 0;
  background: #151965;
  background-image: url('../images/kevin-angelso-uWCYLWxfKX8-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  font-family: TitilliumWeb, Arial, sans-serif;
  font-weight: $light;
  color: black;
  -webkit-text-size-adjust: 100%;

  body:after {
    background-image: url('../images/kevin-angelso-uWCYLWxfKX8-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

* {
  box-sizing: inherit;
}

a {
  color: white;
}
a:hover, a:active, a:focus {
  color: grey;
}