@import "App.scss";

.Card {
    --border: solid 1px #d3d3d3;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
    border: var(--border);
    background-color: #fff;
    width: 100%;
  }
  
  .Card:not(:last-child) {
    border-bottom: none;
  }
  
  .CardHeader,
  .CardBody {
    padding: 5px 10px;
  }
  
  .CardHeader {
    cursor: pointer;
    user-select: none;
  
    display: flex;
    justify-content: space-between;
  }
  
  .CardBody {
    border-top: var(--border);
  
    font-size: 12px;
  }
  
