@import "variables.scss";
@import "mixins.scss";

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @include border-box;
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}
.wrapper, .row {
    @extend %clearfix;
}

.wrapper:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*= 'column-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
}

@media #{$breakpoint-phone} {
    .wrapper {
        width: 95%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .column-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}